*,
::after,
::before{
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #244456;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(76,86,49);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.table-wrapper {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;

  width: 60vw;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: right;
} 

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  margin: 0 auto;
  align-items: center;

}

header nav h1 {
  
  margin-right: auto;
  border-bottom: 3px solid darkorange;

}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  font-size: 1.5rem;
}

header nav a {
  color: orange;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  color: white;
  background-color: orange;
}

h1 {
  margin: 0;
}

.item-card{
  border: 1px solid;
        width: 400px;
        min-width: 400px;
        background-color: rgba(76,86,49, 0.75);
        color: white;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        min-height: 225px;
}

.btn-card {
  /* visibility: hidden ; */
  background-color: rgb(28,44,19);
  /* margin: px; */
  color: white;
  width: 75%;
  border-color: white;
  
  
  
}

.btn-card:hover{
  cursor: pointer;
}

li {
  list-style-type: none;
  
}

li:hover{
  cursor: pointer;
  color: darkorange;
  font-weight: 600;
}


 table,
th,
td {
  border: 1px solid;
}

th,
td {
  width: 18%;
}

tr td{
  background-color: rgba(76,86,49, 0.75);
  color: lightgray;
  text-align: center;

}

th {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
}

td {
  padding-right: 10px;
}


input, button {
  border-radius: 8px;
    height: 36px;
    width: 100%;
    text-align: center;
   
}
 input {
  background-color: rgba(251, 246, 246, 0.75);
  font-size: 1.25rem;
 }

@media (min-width: 768px){
  .container
   {max-width: 720px;}
}

@media (min-width: 992px){
   
    .container
    {max-width: 960px}
}

@media (min-width: 1200px){
   .container
   
    {max-width: 1140px}
}
